[submodule "mrfioc2"]
	path = mrfioc2
	url = https://github.com/javicereijo/mrfioc2
	ignore=all
[submodule "mrfioc2-debug"]
	path = mrfioc2-debug
	url = https://github.com/jeonghanlee/mrfioc2-debug
	ignore=dirty
	
