# Kernel Module Compile Results
*.mod*
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
*~
core.*
#*
.#*
\#*
mrfioc2-debug
mrfioc2-dev
dkms/dkms.conf
dkms/dkms_with_msi.conf
core*
random_cpci_evr.cmd
random_cpci_evg.cmd
*.list
*.bit

# useless
.DS_Store
.vscode

