[Unit]
Description=procServ for TargetIOC000
After=network.target remote-fs.target
ConditionPathIsDirectory=/home/iocuser/e3-3.15.5/e3-mrfioc2/cmds/ex00
ConditionHost=ics-target-00

[Service]
Type=simple
ExecStart=/usr/bin/procServ \
                    --foreground \
                    --logfile=/var/log/procServ/out-TargetIOC000.log \
                    --info-file=/run/ioc@TargetIOC000/info \
                    --ignore=^C^D \
                    --chdir=/home/iocuser/e3-3.15.5/e3-mrfioc2/cmds/ex00 \
                    --name=TargetIOC000 \
                    --port=20000 \
                    /epics/base-3.15.5/require/3.0.5/bin/iocsh.bash \
                    st.TargetIOC000.cmd
SyslogIdentifier=ioc@TargetIOC000
RuntimeDirectory=ioc@TargetIOC000
RuntimeDirectoryMode=0755

User=iocuser
Group=iocgroup

[Install]
WantedBy=multi-user.target
